<!DOCTYPE html>
<html>

<head>
    <title>Photo Gallery</title>
    <link rel='stylesheet' href='/css/fontawesome.css' />
    <link rel='stylesheet' href='/css/gallery.css' />
</head>

<body>
    <header class="header">
        <section class="inner-header">
            <nav class="main-nav">
                <div class="main-nav--logo logo"><a href="/">P G</a></div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>

            <div class="greeting-container">
                <h2 class="greeting">All Photos</h2>
            </div>
        </section>
    </header>

    <main class="main-container">
        <section class="img-section"></section>
    </main>

    <script src="/js/elementBuilder.js"></script>
    <script src="/js/gallery.js"></script>
</body>

</html>