<!DOCTYPE html>
<html>

<head>
    <title>Single Photo</title>
    <link rel='stylesheet' href='/css/fontawesome.css' />
    <link rel='stylesheet' href='/css/single.css' />
</head>

<body>
    <input type="hidden" id="photoId" value="<%= photoId %>">

    <header class="header">
        <section class="inner-header">
            <nav class="main-nav">
                <div class="main-nav--logo logo"><a href="/">P G</a></div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
    </header>

    <main class="main-container">
        <section class="img-section">
        </section>
        <section class="info-section">
        </section>
    </main>

    <script src="/js/elementBuilder.js"></script>
    <script src="/js/single.js"></script>
</body>

</html>